@import url(components/list.css);
@import url(components/button.css);
@import url(components/banner.css);
@import url(components/card.css);
@import url(components/container.css);
@import url(components/bar-blue.css);
@import url(components/dropdown-menu.css);

/* General style rules for fonts and colors */
body {
  font-family: Favorit;
  font-size: 18px;
  margin: 0px;
  text-align: center;
  margin: 0;
  margin-top: 0;
}

h1 {
  font-family: Ramela;
}

h2 {
   font-family: Favorit;
  font-weight: bold;
}

h3 {
  font-family: Favorit;
  font-weight: lighter;
  font-size: 14px;
}

a {
  text-decoration: none;
  font-family: Favorit;
}

p {
 font-family: favorit;
 font-weight: lighter;
 font-size: 14px
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
  margin-right: 30px;

}

.list-inline i {
  font-size: 50px;
  color: white;
}

/* Pour la page commande.html*/
.gras { 
font-weight: bold;
font-size: 20px;
 }

.moyen {
  font-size: 18px;

}

.milieu {
  margin-top: 130px;
  margin-bottom: 130px;
}

/* Fin commande.html*/

/* Pour histoire.html*/

.paragraphes {
  width: 60%;
  margin-left: 20%;
  margin-top: 50px; 

}

.portrait {
  width: 15%;
}

.photos-nous {
  margin-top: 50px;
}

/* Fin histoire.html*/

.reseaux {
  display : inline-block;
}
footer {
  background-color: #002FA7;
  position: relative;
  bottom: 0;
  width: 100%;
}

.contact {
  color: white;
}
