.banner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: 17px;
	margin-right: 17px;
}

.banner img {
	height: 40;
	width: 40px;
}

.title, .search-bar {
	display: flex;
	align-items: center;
}

.search-bar img {
	height: 25px;
	width: 25px;
}
