.bar-blue {
	width: 100%;
	padding: 5px;
	text-align: left;
	background: #002FA7;
	color: white;
	height: 35px;
}

.bar-blue h2 {
	margin: auto;
	font-family: Favorit;
	font-size: 22px;
	padding: 5px;
	font-weight: 400;
	background-position : center;
	margin-bottom: 10px;
	margin-left: 20px;
}
