.container-bouton {
	display: flex;
}

.cta {
	background-color: #002FA7;
	border-radius: 6px;
	height: 100%;

	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cta a {
	display: flex;
	align-items: center;
	color: white;
	height: 100%;
	padding: 6px 12px;
}