/* Simple card */

.brand-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0, 2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: favorit;
  flex-direction: row;
}
.brand-card img {
  width: 100%;
  height: auto;
}

.brand-card p {
  font-weight: lighter;
  font-family: Favorit;
  text-align: center;
  
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  display: inline;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

/* Product card */ 

.product-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: favorit;
  flex-direction: row;
}

.price {
  color: red;
  font-size: 22px;
}

.list-inline {
  list-style: none;
  display: inline;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
